<!DOCTYPE html>
<html lang="pt_BR"
	 xmlns="http://www.w3.org/1999/xhtml" 
	 xmlns:th="http://thymeleaf.og"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
		<span th:text="${mensagem}"></span>
	</div>
</body>
</html>