<!DOCTYPE html>
<html lang="pt_BR"
	 xmlns="http://www.w3.org/1999/xhtml" 
	 xmlns:th="http://thymeleaf.og"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	
	<script type="text/javascript">
		function setaCampos(par)
		{
			id="id"+par;
			nome="nome"+par;
			aberto="aberto"+par;
			fechado="fechado"+par;
			
			inputId = document.getElementById(id).innerHTML.replace("<span>","").replace("</span>","");
			inputNome = document.getElementById(nome).innerHTML.replace("<span>","").replace("</span>","");
			inputAberto = document.getElementById(aberto).innerHTML.replace("<span>","").replace("</span>","");
			inputFechado = document.getElementById(fechado).innerHTML.replace("<span>","").replace("</span>","");
	
			document.getElementById("id").value = inputId;
			document.getElementById("nome").value = inputNome;
			document.getElementById("aberto").value = inputAberto;
			document.getElementById("fechado").value = inputFechado;
		}
	</script>
	
	<title>Almoxarifado</title>	  
</head>
<body>
	<div class="container" style="width: 100%; padding-bottom: 30px;">
		<div th:each="setor: ${setor}">
			<h1>Almoxarifado</span></h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item"><a href="/itensComprar">Itens</a></li>
					<li class="breadcrumb-item"><a href="/setores">Setores</a></li>
					<li class="breadcrumb-item"><span th:text="${setor.nome}"></span></li>
				</ol>
			</nav>
			<th:block th:include="mensagemValidacao"></th:block>
			<form method="post">
				<div class="form-row">
					<input hidden type="text" class="form-control" id="id" name="id" value="0"/>
					<div class="form-group col-md-6 ">
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Item *"/>
					</div>
					<div class="form-group col-md-2 ">
						<input type="text" class="form-control" id="aberto" name="aberto" placeholder="Abertos *"/>
					</div>
					<div class="form-group col-md-2 ">
						<input type="text" class="form-control" id="fechado" name="fechado" placeholder="Fechados *"/>
					</div>
					<div class="form-group col-md-2 ">
						  <select class="custom-select" id="inputGroupSelect01" name="comprar">
							    <option selected id="comprar" value="Sim">Comprar</option>
							    <option value="Não">Não</option>
						  </select>
					</div>
				</div>
				<small class="form-text text-muted">(*) Campos obrigatórios</small>
				<button type="submit" class="btn btn-success" style="margin-top: 10px;">Salvar Item</button>
			</form>
		</div>
		<br>
		<table class="table table-hover table-sm table-bordered">
			<thead align="center">
				<th hidden scope="col">id</th>
				<th scope="col">Nome</th>
				<th scope="col">Aberto</th>
				<th scope="col">Fechado</th>
				<th scope="col">Comprar</th>
				<th scope="col">Ação</th>
			</thead>
			<tbody>
				<tr align="center" th:each="item : ${itens}">
					<div class="row">
						<td hidden th:id="id + ${item.id}"><span th:text="${item.id}"></a></span></td>
						<td th:id="nome + ${item.id}"><span th:text="${item.nome}"></a></span></td>
						<td th:id="aberto + ${item.id}"><span th:text="${item.aberto}"></span></td>
						<td th:id="fechado + ${item.id}"><span th:text="${item.fechado}"></span></td>
						<td th:id="comprar + ${item.id}"><span th:text="${item.comprar}"></span></td>
						<td>
							<a th:onclick="'setaCampos(\''+${item.id}+'\')'"><img th:src="@{/../../imagens/editar.png}" alt="Editar" width="16" height="16"></a></span>
							<a th:href="@{/deletarItem(id = ${item.id}) }"><img th:src="@{/../../imagens/excluir.png}" alt="Deletar" width="16" height="16"></a></span>
						</td>
					</div>
				</tr>
			</tbody>	
		</table>
	</div>
</body>
</html>