<!DOCTYPE html>
<html lang="pt_BR"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://thymeleaf.og"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<!-- CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<title>Cadastro de Setor</title>
</head>
<body>
	<div class="container" style="width: 60%; padding-bottom: 30px;">
		<h1>Cadastro de Setor</h1>
		<form method="post">
			<div class="form-row">
				<div class="form-group col-md-10 ">
					<input type="text" class="form-control" name="nome" placeholder="Nome do Setor *">
				</div>
				<div class="form-group col-md-2 ">
					<input type="date" class="form-control" name="data" placeholder="Data de Atualização *">
				</div>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="descricao" placeholder="Descrição do Setor *">
			</div>
			<small class="form-text text-muted">(*) Campos obrigatórios</small>
			<button type="submit" class="btn btn-success" style="margin-top: 10px;">Salvar</button>
			<a href="/setores" class="btn btn-secondary" role="button" style="margin-top: 10px;">Cancelar</a>
		</form>
	</div>
</body>
</html>